.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.App {
  display: grid;
  gap: 25px;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 120px 1fr;
  grid-template-areas:
    "header header"
    "navbar wrapp";
  min-height: 100vh;
}

.header {
  padding: 20px 0;
  border-bottom: 3px solid #5084cd;
  grid-area: header;
  display: flex;
  align-items: center;
}

.navbar {
  grid-area: navbar;
}

.wrapp {
  grid-area: wrapp;
}